{% extends 'base.html' %}

{% block tab_title %} 
<title>Project | 고객 관리</title>
{% endblock %}

{% block title %}
안내 문자 전송
{% endblock %}

{% block lead %}
지연 및 결항편 이용 승객에게 안내 문자를 전송합니다.
{% endblock %}

{% block main_body %}
<div class="button_search">
  <form method="POST" action="/check_customer">
    <input name="flight_search" style="margin-bottom:10px" class="form-control" type="text" placeholder="예시: KE1234"/>
    <input type="submit" class="btn btn-primary" value="조회하기" style="margin-top: 20px; margin-bottom: 30px;"/>
  </form>
</div>

{% if doc %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">편명</th>
      <th scope="col">출발공항</th>
      <th scope="col">도착공항</th>
      <th scope="col">운항 예측</th>
      <th scope="col">고객 관리</th>
      <th scope="col">삭제</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ doc.flight }}</th>
      <td>{{ doc.airport_ori }}</td>
      <td>{{ doc.airport_des }}</td>
      <td>{{ doc.prediction }}</td>

      <td>
        {% if result_msg %}
        <a class="btn btn-secondary", href='/send_msg/{{ doc.flight }}'>{{result_msg}}</a>
        {% else %}
        <a class="btn btn-secondary", href='/send_msg/{{ doc.flight }}' onclick="alert_msg()">안내문자 전송</a>
        <script>
          function alert_msg(){
          alert("문자 전송이 완료되었습니다.")
        }
        </script>
        {% endif %}
      </td>
      <td>
        <a class="btn btn-secondary", href='/check_customer/{{ doc.flight }}' onclick="delete_flight()">Delete</a>
        <script>
          function delete_flight(){
          alert("항공편 정보가 삭제되었습니다.")
        }
        </script>
      </td>
    </tr>
  </tbody>
</table>
{% endif %}


{% if result %}
<div class="result_search">
  <p>{{ result }}</p>
</div>
{% endif %}


{% endblock %}

